<section>
  <div class="text">
    <h1>All Delicious <span>Asian Recipes</span></h1>
    <p>Eggs, Salad, fruits, pasta</p>

    <a routerLink="recipes"><button type="button">Find for more</button> </a>
  </div>
  <div class="background">
    <svg
      width="666"
      height="900"
      viewBox="0 0 666 900"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M0 0H666V900H0C0 900 372.434 299 308.901 185C245.368 71 0 0 0 0Z"
        fill="#DAE952"
      />
    </svg>
    <div class="circle"></div>
    <img src="assets/images/header/salad.png" alt="" />
  </div>
</section>
