.recipes_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 10px;
  column-gap: 20px;
  padding: 0;

  app-recipe-card {
    display: flex;
  }
}

.search_recipes {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

  app-search-bar {
    margin-right: 20px;
  }
}
