header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  div {
    display: flex;
    column-gap: 1rem;
  }
  .logo {
    width: 60px;
  }

  .login {
    width: 40px;
  }
}
