body {
  margin: 0;
  padding: 0;
}
img {
  float: left;
  max-width: 100%;
  inline-size: max-content;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

app-root {
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.container {
  padding-inline: 10%;
}
